---
- import_tasks: preflight.yml

- import_tasks: install.yml

- name: Ensure mysqld_exporter is enabled on boot
  systemd:
    daemon_reload: true
    started: restarted
    name: mysqld_exporter
    enabled: true
